 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles

@mixin buttonFont{

	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 30px;

}

@mixin mainTextFont{
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
}

@mixin optionsButton{	
	width:150px;
	height:150px;
	margin-bottom:100px;
	border-radius:150px;
	background-color:black;
	color:white;
}

$blue:#007ab3;
$purple:#994d7c;

body {
  background: black;	
}

.birthButton{
	margin: 0 auto;
	display:block;
	background-color:black;
	color:white;
	@include buttonFont;
	margin-top:300px;
	border-style: dashed;

}


.main-text{
	color:white;
	width:500px;
	margin:0 auto;
	margin-top: 20px;
	text-align:center;
	@include mainTextFont;

}

.lifeButton {
	margin: 0 auto;
	display:block;
	background-color:black;
	color:white;
	@include buttonFont;
	margin-top:300px;
	border-style: dashed;
}


#lifePoints{
	text-align:center;
	width:60px;
	margin-top:10px;
	margin-bottom:10px;
	border-radius:100px;

}

.playerHolder{
	text-align:center;
	margin:0 auto;
}

.player{
	color:$blue;
	text-align:center;
	margin-bottom:50px;
	margin-top:100px;
	visibility:hidden;
	border-style:dotted;
	border-color:$blue;	
	width:200px;
	height:200px;
	border-radius:100px;
	padding-top:55px;
	display:inline-block;	
	
}


.richButton{
	text-align:center;
	margin-top:50px;
	margin-bottom:100px;
	color:white;

}

.richButton1{
	background-color:black;
	border-style:dotted;
	padding:10px;
	margin-top:30px;
}

.moreButtons{
	text-align:center;
	margin-top:50px;

}

.collegeButtonHolder{
	text-align:center;
}

.travelButton{
	@include optionsButton;
	margin-right:40px;
}

.partyButton{
	@include optionsButton;
}

.collegeButton{
	@include optionsButton;	
	margin-right:40px;
}

.afterCollegeEvent{
	text-align:center;
}
.afterCollege{
	@include buttonFont;
	font-size:20px;
	color:$purple;
	background-color:black;
	border-style: dotted;
	border-size: 4px;
	margin-bottom:100px;
}

.poorButton{
	text-align:center;
}

.poorButton1{
	background-color:black;
	border-style:dotted;
	padding:10px;
	margin-top:30px;
	color:white;

}

.poorButtonHolder{
	text-align:center;
}

.communityCollegeButton{
	@include optionsButton;
	margin-right:40px;
}

.gangButton{
	@include optionsButton;
	margin-right:40px;
}

.workButton{
	@include optionsButton;
}
